.idea/
uv.lock
build/
dist/
docs/api
docs/tmp/
docs/_build
.zed
*.egg*
__pycache__
*.pyc
*.pyo
*.bak
old/
.mypy_cache
*~.*
notes.org
examples/*.wav
examples/Untitled*
.vscode/
.ipynb_checkpoints/
.#*
*~
docs/api
notebooks/Untitled*.ipynb
notebooks/tmp
notebooks/test/tmp
docs/notebooks/tmp
Untitled*.ipynb
*.eps
*.count
*.tex
*.texi
.virtual_documents
test/output
*.kate-swp
