emlib
numpy
scipy
matplotlib
music21
bpf4
configdict>=0.11
appdirs
sndfileio>=1.8
pillow
cachetools
pyyaml
rtmidi2
csoundengine>=1.1
pitchtools>=1.3
lxml
quicktions

sphinx-autodoc-typehints
sphinx-automodapi
sphinx_rtd_theme