emlib>=1.7.0
numpy
scipy
matplotlib
bpf4
configdict>=2.5
appdirs
# sndfileio>=1.8.1
pillow
cachetools
pyyaml
csoundengine>=1.13
pitchtools>=1.9
lxml
quicktions
rich
visvalingamwyatt
vamphost
distro
python-constraint


sphinx-autodoc-typehints
sphinx-automodapi
sphinx_rtd_theme
nbsphinx
sphinx-design
furo
