emlib>=1.7.0
numpy
scipy
matplotlib
music21
bpf4
configdict>=2.5
appdirs
# sndfileio>=1.8.1
pillow
cachetools
pyyaml
rtmidi2
csoundengine>=1.13
pitchtools>=1.9
lxml
quicktions

sphinx-autodoc-typehints
sphinx-automodapi
sphinx_rtd_theme
