.wy-nav-content {
    max-width: 1120px !important;
    padding-left: 2.00em;
    padding-right: 2.00em;
}

.autosummary table {
	font-size: 16px !important;
}

h1 {
	font-size: 2.0em;	
}

h2 {
	font-size: 1.58em;
}

h3 {
	font-size: 1.21em;
}

h2,h3 {
	margin-top: 24px;
}

h4 {
	margin-top: 16px;
}

.output_area code {
	border: none !important;
	font-size: 12px !important;
	white-space: pre-line !important;
}

.input_area pre {
	font-size: 13px !important;
}


.nbinput {
	margin-bottom: 8px !important;	
}
	
.cardtitle {
	margin-bottom: 0.9em;
	font-size: 18px;
}



/* furo */
.content {
	width: 54em;
}

table.autosummary {
	text-align: left;
	margin-left: 1em;
}

.admonition.note {
	--admonition-font-size: 0.9rem;
}

.admonition {
	--admonition-font-size: 0.9rem;
	--admonition-title-font-size: 0.9rem;
}


@media (min-width: 97em) {
html {
  font-size: 104%;
}

.content {
	width: 60em;
}
}


.sidebar-drawer {
	width: calc(50% - 35em);
}
