.wy-nav-content {
    max-width: 1200px !important;
}


div.leftside {
  width: 43%;
  padding: 0px 3px 0px 0px;
  float: left;
}

div.rightside {
  margin-left: 45%;
  /* float: right; */
}


table {
	font-size: 12px !important;
}

h2,h3 {
	margin-top: 20px;
}
